.author-piece__item-letter {
  margin-bottom: 60px;

  font-family: 'Inter';
  font-weight: 400;
  color: #242424;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

.author-piece__item-letter:last-of-type {
  margin: 0;
}

.author-piece__text-letter {
  margin: 0;
  margin-bottom: 14px;
}

.author-piece__list-author {
  margin: 0;
  padding: 0;
  list-style: none;
}

.author-piece__item-author {
  margin-bottom: 12px;

  font-family: 'Inter';
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.author-piece__item-author:last-of-type {
  margin: 0;
}
