.search {
  width: 100%;
  padding: 190px 20px 0;
  box-sizing: border-box;
}

.search_margin-bottom {
  margin-bottom: 65px;
}

.search__title {
  margin: 0 100px 34px 100px;
  max-width: 756px;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.01em;
}
